anndata @ git+https://github.com/scverse/anndata.git@c1468c5f605e2e12570a3aa848fdd5ca3e8de14e
crispat==0.9.10
dask==2025.9.1
datasets==2.21.0
genomic-features==0.0.1a0
matplotlib==3.10.7
matplotlib-inline==0.1.7
mudata==0.3.2
multipledispatch==1.0.0
multiprocess==0.70.16
muon==0.1.7
numba==0.62.1
numpy==1.26.4
numpydoc==1.9.0
numpyro==0.19.0
pandas==2.3.3
pertpy==1.0.3
pingouin==0.5.5
plotnine==0.15.0
pytest==9.0.0
rapids-singlecell==0.13.2
scanpy==1.11.5
scib==1.1.7
scikit-image==0.25.2
scikit-learn==1.7.2
scikit-misc==0.5.1
scipy==1.16.2
scvi==0.6.8
scvi-tools==0.20.3
seaborn==0.13.2
